<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8f-eW8vJguXVaTAJm8RDOYFhbDOJn3yU</string>
	<key>GCM_SENDER_ID</key>
	<string>292341323563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.signlingo</string>
	<key>PROJECT_ID</key>
	<string>signlingo-7eab0</string>
	<key>STORAGE_BUCKET</key>
	<string>signlingo-7eab0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292341323563:ios:c3a41aa51df4a0f086576e</string>
</dict>
</plist>